  body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

  }
  
  .container{
    padding-top: 20px;
  }

  .logo{
    padding: 10px;
    text-align: center;
  }

  .icon{
    height: 80px;
    width : 80px;
    border-radius: 100px;
  }

  .bio{
    text-align: center;
    padding: 10px;
  }


  .ul-social{
    list-style: none;
    text-align: center;
    padding: 0px;

  }

  .list-social a{
    padding: 0 0 5px 0;
  }

  
  .list-social{
    padding: 0 15px 0 0px;
    display: inline;
  }

  .sub-container{
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar-story{
    padding: 10px;
    font-size: 20px;
    margin-top: 40px;
    background-color: #778899;
  }

  .ul-nav{
    padding: 0px;
    margin: 0px;

  }

  .list-nav{
    padding: 0 15px 0 0px;
    display: inline;

  }

  .list-nav a{
    padding: 0 0 5px 0;
    text-decoration: none;
    color: rgb(73, 70, 70);

  }

  .list-nav a:hover{
    
    border-bottom: 3px solid salmon;
    }

  .ux {
    margin-left: 40px;  
    margin-right: 40px;  

    }

  .resume {
   text-align: center;
    
  }

  .ux-head{
    font-size: 28px;
    padding: 20px;
  }

  .head-icon{
    
    margin-right: 5px;

  }

  .ux-body{
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
    
  .col-sm-1{
    padding: 20px;
  }

  .col-sm-11{
    padding: 20px;
  }

  .title{
    font-size: 20px;
    font-weight: bold;
  }

  .subtitle{
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    color: lightslategrey;
  }


  @media only screen and (max-width: 600px) {
    
    .ux {
      margin-left: 10px;  
      margin-right: 10px;  
  }

  .sub-container{
    padding-left: 10px;
    padding-right: 10px;
  }
 
  

  

  
  