  body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

  }
  
  ul{
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }
  

  .logo{
    padding: 10px;
    text-align: center;
  }

  .icon{
    height: 80px;
    width : 80px;
    border-radius: 100px;
  }

  .bio{
    text-align: center;
    padding: 10px;
  }


  .ul-social{
    list-style: none;
    text-align: center;
    padding: 0px 0px 20px 0px ;

  }

  .list-social a{
    padding: 0 0 5px 0;
  }

  
  .list-social{
    padding: 0 15px 0 0px;
    display: inline;
   
  }

  .sub-container{
    padding-left: 40px;
    padding-right: 40px;
  }

  

  .ux {
    margin-left: 40px;  
    margin-right: 40px;  

    }

  .resume {
   text-align: center;
    
  }

  .ux-head{
    font-size: 28px;
    display: flex;
    padding: 20px;
  }

  .head-icon{
    padding-right: 20px;
  }
  

  .ux-body{
    font-size: 20px;
    padding: 20px;
    text-align: justify;
  }
    
 
 
  .title{
    font-size: 20px;
    font-weight: bold;
  }

  .subtitle{
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    color: lightslategrey;
  }

  .intro{
    background-image: url('assets/cover.png');
    border-radius: 0px 0px 5px 5px;
  }


  @media only screen and (max-width: 600px) {
    
    .ux {
      margin-left: 10px;  
      margin-right: 10px;  
  }

  .sub-container{
    padding-left: 10px;
    padding-right: 10px;
  }

  .ux-head{
    padding: 0px;
    margin: 30px 0 10px 0;
  }
  
  .ux-body{
    padding: 10px;
    margin: 20px 0 10px 0;
  }

 }


